// =============> Dark Mode Color Variables

// body variables
$bodyColor: #313131;

// navbar variables
$navbarColor: #292929;
$navItemsHoverColor: #4e4e4e;
$navItemsFontColor: #fafafa;
$navHeight: 60px;
$navItemsheight: 25px;
$navItemsheight2: 40px;

// sidebar variables
$sidebarWidth: 230px;
$bodyTextColor: #fafafa;

// video vars
$videoCardBodyColor: #505050;
$videoViewsUpload: #c5c5c5;
$videoMoreOptnsBack: #505050;
$videoMoreOptnsBackHover: #686868;
$singleVideoDesc: #dadada;
$commentsSortBtn: #5e5e5e;
$videoCommentUserNm: #f8f8f8;
$videoCommentUserCmt: #e7e7e7;

// modal variables
$smooth-grey-smooth-white-text-1: #d6d6d6;
$light-grey-light-black-sh-1: #414141;
$light-grey-light-black-sh-2: #6b6a6a;
$user-modal-optns-back: #757575;
$notify-modal-optns-back: #4e4e4e;

// color variables
$light-black-light-grey-sh-1: #d1d1d1;
$light-black-light-grey-sh-7: #646464;

// manage-channels
$v-vid-section-name: #bdbdbd;
$v-vid-channels-cats: #e7e7e7;
$v-vid-channel-name: #e7e7e7;
$v-vid-channel-desc: #b6b6b6;
// manage-channels playlist section
$v-vid-chnl-playlist-btn-back: #646464;
$v-vid-chnl-playlist-btn-color: #e0e0e0;

// video upload page
$progress-line-primary: #0098f0;
$progress-line-danger: #ff3300;
$progress-line-grey: #afafaf;
