// put an underscore before the filename to prevent them from compiling
// as these are imported in the files where required

// =============> Light Mode Color Variables

// body variables
$bodyColor: #eeeeee;

// navbar variables
$navbarColor: #ffffff;
$navItemsHoverColor: #cecece;
$navItemsFontColor: #292929;
$navHeight: 60px;
$navItemsheight: 25px;
$navItemsheight2: 40px;

// sidebar variables
$sidebarWidth: 230px;
$bodyTextColor: #2d2d2d;

// video vars
$videoCardBodyColor: #ffffff;
$videoViewsUpload: #696969;
$videoMoreOptnsBack: #ffffff;
$videoMoreOptnsBackHover: #e0e0e0;
$singleVideoDesc: #000000;
$commentsSortBtn: #d3d3d3;
$videoCommentUserNm: #272727;
$videoCommentUserCmt: #2e2e2e;

// modal vars
$smooth-grey-smooth-white-text-1: #777777;
$light-grey-light-black-sh-1: #d9d9d9;
$light-grey-light-black-sh-2: #cacaca;
$user-modal-optns-back: #c7c6c6;
$notify-modal-optns-back: #c7c7c7;

// colors vars
$light-black-light-grey-sh-1: #5f5f5f;
$light-black-light-grey-sh-7: #cacaca;

// manage-channels
$v-vid-section-name: #636363;
$v-vid-channels-cats: #5f5f5f;
$v-vid-channel-name: #555555;
$v-vid-channel-desc: #818181;
// manage-channels playlist section
$v-vid-chnl-playlist-btn-back: #cfcfcf;
$v-vid-chnl-playlist-btn-color: #000000;

// upload video page
$progress-line-primary: #0098f0;
$progress-line-danger: #ff3300;
$progress-line-grey: #afafaf;
